.home {
  align-self: flex-end;
  margin-bottom: 10px;
}

.login {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 25px;
  margin-bottom: 15px;
  height: fit-content;
  width: fit-content;
  font-size: 1.7rem;
  background-color: #67c6e3;
  color: white;
  border-radius: 10%;
  border: 1px solid white;
}

button {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

.first-flex {
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 90px;
}

.first-flex > h1 {
  display: block;
  font-weight: bold;
  font-size: 4.5em;
  font-family: "IBM Plex Mono", monospace;
}

.first-flex >  p {
  display: block;
  font-weight: 400;
  font-size: 2em;
}

.first-flex > div > img {
  box-shadow: 3px 3px grey;
  border-radius: 20px;
  margin-left: 20px;
  height: 100%;
  width: 100%;
}

.image-div{
  display: grid;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
  grid-template-rows: minmax(200px,450px);
  grid-template-columns: minmax(200px,500px);
}



.second-flex {
  margin: 20px;
  margin-bottom: 40px
}

.second-flex > h1{
  display: block;
  font-weight: bold;
  font-size: 4.5em;
  font-family: "IBM Plex Mono", monospace;
}

.second-flex > p{
  display: block;
  font-weight: 400;
  font-size: 2em;
}
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

@font-face {
  font-family: "Formula Condensed Light";
  font-style: normal;
  font-weight: normal;
  src: local("Formula Condensed Light"),
    url("Fonts/FormulaCondensed-Light.woff") format("woff");
}

@font-face {
  font-family: "Formula Condensed Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Formula Condensed Bold"),
    url("Fonts/FormulaCondensed-Bold.woff") format("woff");
}
